.footer {
	background-color: $dark-blue;
	padding-top: 1em;
}

.footer a,
.footer {
	color: #fff !important;
}

.nav--social {

}
.nav--ft-links {

}
.sub-footer {
	background-color: #010A15;
	padding: 1em 0;
}