//typography
$base-font-family: Georgia, serif;
$base-bg-color: #fff;
$base-fg-color: #333;
$base-line-height: 1.6;
$base-font-size: 100%;

//colors
$red: #940707;
$green: #3f8c0b;
$blue: #376b9d;
$grey: #bcbcbc;
$lightgrey: #e9e9e9;
$dark-blue: #001935;

//148,7,7=red  63,140,11=green  001935=blue dark