.formgroup {
	margin-bottom: 1.6em;
}

input, select, textarea {
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
}

label {
	display: block;
	font-weight: bold;
}

input[type="submit"], 
input[type="radio"], 
input[type="checkbox"], 
input[type="image"], 
input[type="button"], 
input[type="file"] {
	width: auto;
}

textarea {
	min-height: 8em;
	resize: vertical;
	overflow: auto;
	vertical-align: top;
}

label, select {
	cursor: pointer;
}