/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}


.right {
    float: right;
}

.left {
    float: left;
}



// My invention of a tiny 7 coloumn grid
//variable 

.col {
    margin-bottom: 1.6em;
}


/* Grid values at breakpoints */
@media only screen and (min-width: 768px) {

    .col {
        float: left;
        margin-right:  2%;

        &:last-child {
            margin-right: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }

    .col-2      {width: 49%;}
    .col-3      {width: 32%;}
    .col-4      {width: 23.5%;}
    .col-5      {width: 18.4%;}
    .col-4-3    {width: 74.5%;}
    .col-5-2    {width: 38%;}
    .col-5-3    {width: 60%;} 

}


//This is class is just for documnetation to show the grids
.section--grids .col {

    background-color: #333;
    text-align: center;
    padding: 1em;
    color: #fff;
}