img {
	max-width: 100%;
}
.img {
	background-size: cover;
}
.img--circle,.img--rounded {
	height: 150px;
	width: 150px;
}
.img--circle {
	border-radius: 100%;	
}

.img--rounded {
	border-radius: 8px;
}

.img--thumbnail {
	border: 1px solid #ccc;
	padding: 2px;
	background-color: #fff;
	border-radius: 8px;
}